/* App.css */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .search-component {
    flex: 1;
    max-width: 300px; /* Adjust the maximum width as needed */
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(255, 253, 253, 0.1);
  }
  
  .search-component input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 6px;
    font-size: 14px;
    color: #333;
    background-color: transparent;
    
  }
  
  .button-component {
    flex: 0;
  }
  
  .button-component button {
    padding: 10px 20px;
    background-color:#3DB46D;
    color: #fff;
    border: none;
    width: 150px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-component button:hover {
    background-color: #0056b3;
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal h2 {
    margin-bottom: 10px;
  }
  
  .modal input {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .submit-button,
  .cancel-button {
    padding: 8px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .submit-button {
    background-color: #3DB46D;
    color: #fff;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #333;
  }
  
  .submit-button:hover,
  .cancel-button:hover {
    opacity: 0.9;
  }
  

.image-item {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  padding: 10px;
  position: relative;
  transition: transform 0.3s;
}

.image-item img {
  max-width: 100%;
  height: auto;
}

.image-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.image-item:hover {
  transform: scale(1.05);
}

.image-item:hover .image-details {
  opacity: 1;
  pointer-events: auto;
}

.image-label {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.delete-button {
  margin-top: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}